<!--     <div class="container" ng-show="view=='add'" id="add">
        <div class="row">
            <div class="col=mid-6">
                <h1>Add a New Listing</h1>
            </div>
        </div>
      <form>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">Name: </div>
            <div class="col-md-3"><input type="text" ng-model="title"></div>
        </div>
 
        <div class="row">
            <div class="col-md-3 col-md-offset-3">Address: </div>
            <div class="col-md-3"><input type="text"  ng-model="street_address"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-3">City/State/Zip: </div>
            <div class="col-md-3"><input type="text"  ng-model="city_state_zip"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-3">Status: </div>
            <div class="col-md-3"><input type="text"  ng-model="for_sale"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-3">List Price </div>
            <div class="col-md-3"><input type="text"  ng-model="price"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-3">Zestimate: </div>
            <div class="col-md-3"><input type="text"  ng-model="zestimate"></div>
        </div>

        <div class="row">   
            <div class="col-md-3 col-md-offset-3">Deal Type: </div>
            <div class="col-md-3"><input type="text"  ng-model="type_of_deal"></div>
        </div>

        <div class="row">      
            <div class="col-md-3 col-md-offset-3">Mortgage Payment: </div>
            <div class="col-md-3"><input type="text"  ng-model="mortage"></div>
        </div>

        <div class="row" id="buttons">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-danger" ng-click="listView()">Cancel</button>
                <button class="btn btn-primary" ng-click="addNewListing()">Add</button>
            </div>
        </div>

      </form>
    </div> -->