<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Dive Log (HTML)</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="houses.js"></script>
</head>
<body ng-controller = "myController">
  <div class="container-fluid">
    <h1>My Houses List (in Angular)</h1>
    Filter! <input type="text" ng-model="searchHouses">
    <div class="row">
        <div class="col-sm-5">
            <button class="btn btn-primary btn-lg" ng-click="addHouse()" ng-disabled="!enableAdd()">Add New House</button>
            <button class="btn btn-danger btn-lg" ng-click="removeHouse()">Clear All Houses</button>          
        </div>
        <div class="col-sm-4 col-sm-offset-3">
            <input class="form-control input-lg" placeholder="Search" ng-model="searchHouses">
    </div>
    <div class="row">
      <div class="col-sm-4" ng-repeat="house in houses | filter:searchHouses">
        <h3>{{house.title}}</h3>
        <p><img ng-src="{{house.image}}" width="{{house.image_width}}"></p>
        <h4>{{house.address}}</h4>
        <h4>{{house.city_state_zip}}</h4>
        <h4>{{house.for_sale}}</h4>
        <h4>{{house.price}}</h4>
        <h4>Zestimate®: {{house.zestimate}}</h4>
        <h4>{{house.type_of_deal}}</h4>
        <h4>Estimated Mortgage: {{house.mortgage}}</h4>
      </div>      
    </div> 
  </div>
</body>
</html>